/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4));
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

/*
 * Base
 */

.progressbar {
    position: relative;
    float: left;
    width: 500px;
    height: 16px;
    margin: 10px 5px 10px;
    padding: 0px;

    background: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #bbb #fff #bbb;
    box-shadow: inset 0px 2px 3px #bbb;
}

.progressbar,
.progressbar-inner {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.progressbar-inner {
    width: 0px;  /*Change to actual percentage */
    height: 100%;
    background: #999;
    background-size: 18px 18px;
    background-color: #ac0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);

    box-shadow: inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}

.progress-status{
    position: relative;
    float: left;
    margin-left: 5px;
}

.current-path{
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto 0 5px;
    font-weight:bold;
}

/*
 * Color Options
 */
.progressbar-green .progressbar-inner {
    background-color: #ac0;
    width: 0px;

}

.progressFile{
    position: relative;
    margin: 0, auto;
    text-align: center;
 }

.line_separator{
   border: solid black 2px;
}

header{
    height: 95px;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;

}

.action_buttons{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.action_buttons h2{
    margin: 8px auto;
}

.reload_button{
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #F06060;
}

.update_button{
    background-color: #10A296;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}

.update_button:active{
    background-color: yellow;
}

.reload_button:active{
    background-color: yellow;

}

#bl-work-section{
    background: #F98262;
}

#bl-main{
    height: 100%;
}

.container{
    top: 95px;
    bottom: 50px;
    position: absolute;
    width: 100%;
}

.bl-content,
div.bl-panel-items > div > div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    /*top: 95px;*/
    top: 0px;
    bottom: 0px;
    padding: 0 20px;
    overflow: hidden;
    width: 100%;
}

#bl-panel-work-items>div{
    /*left:0!important;*/


    text-align: center;
}

#bl-panel-work-items img,
#bl-panel-work-items video{
    min-width: 700px;
    max-width: 90%;
    width: auto;
    height: 80%;
    position: fixed;
    top: 20px;
}

.btn{
    background-color: #F06060;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    color:white;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    width: auto!important;
}

.btn.btn-path{
    background-color: #10A296;
}

#bl-work-items{
    padding-top: 5px;
    padding-bottom: 5px;
}

.label{
    margin: 1%;
    background: #c46251;
}







